<% provide(:title,"") %>
<h1>Auction</h1>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <td scope="col">Product Name</td>
            <td scope="col">Description</td>
            <td scope="col">Lowest Allowable Bid</td>
            <td scope="col">Starting Bid Price</td>
            <td scope="col">Bidding Expiration</td>
            <td scope="col">Current Lowest Bid</td>
            <td scope="col">Action</td>
        </tr>
    </thead>
    <tbody>
        
        <% @products.each do |product| %>
        <tr>
            <td><%= product.product_name %></td>
            <td><%= product.description %></td>
            <td>₱<%= number_with_delimiter(product.lowest_allowable_bid) %></td>
            <td>₱<%= number_with_delimiter(product.starting_bid_price) %></td>
            <td><%= product.bidding_expiration.strftime('%Y-%m-%d %I:%M %p') %></td>
            <td> <%= product.bids.empty? ? "None" : "₱#{number_with_delimiter(product.bids[-1].bid_value)}"  %></td>
            <td class="d-flex flex-column bd-highlight">
                
                
                <% if !current_user.is_admin%>
                 <%# check if the auction is expired %>
                    <% if DateTime.now < product.bidding_expiration && !product.stop_switch%>
                        <%= link_to "Send Bid",bid_path(product),class:"btn btn-primary mb-2"%>
                    <% else %>
                        <%= link_to "Closed","#",class:"btn btn-warning disabled-link mb-2"%>   
                    <% end %>
                        
                <% else %>
                     <% if DateTime.now >= product.bidding_expiration || product.stop_switch %>
                        <%= link_to "Closed","#",class:"btn btn-warning disabled-link mb-2"%> 
                    <% else %>
                        <%= link_to "Stop Bid",stop_path(product.id),class:"btn btn-primary mb-2", method: :patch %> 
                    <% end %>
                    <%= link_to "Edit/Open Auction",product_edit_path(product),class:"btn btn-info mb-2" %>
                    <%= link_to "Delete Auction",product_delete_path(product),data:{turbo:true},method: :delete,class:"btn btn-danger mb-2",:onclick => "return confirm('Are you sure you want to delete this post?')" %>
                <% end %>
                    <%= link_to "Show Product",product_path(product),class:"btn btn-secondary mb-2"%>
                    <% if DateTime.now >= product.bidding_expiration %>
                        Winner: <%= product.bids.empty? ? "None" : product.bids[-1].user.full_name %>
                        
                    <% end %>
                    

                
            </td>
        </tr>   
        <% end %>
    
    </tbody>
</table>
<% if Product.count == 0 %>
    <h2 class="text-center">No Auction</h2>
<% end %>
